@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;
}

:root {
  --nav-link-color: black;
  --banner_content_color: #ffff;
  --section_title_color: #2d2d2d;
  --inner-color: #FF5722;
}

body {
  letter-spacing: 1px;
}

p {
  font-family: 'Poppins', sans-serif;
}


.container {
  max-width: 1200px;
  margin: 0px auto;
}


header {
  max-width: 1349px;
  margin: 0px auto;
  height: 75px;
  background-color: transparent !important;
  transition: 300ms ease-in-out;
}


.sticky {
  width: 100%;
  position: fixed !important;
  top: 0;
  background-color: #fff !important;
  box-shadow: 0px 0px 5px 0px #a6a7a9bd;
  z-index: 9999;
}

header>nav {
  width: 90%;
  height: 100%;
  margin: 0px auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: transparent !important;
}

header>nav>.logo>img {
  width: 75px;
}

header>nav>.nav-link>.mid-logo {
  display: none;
}

header>nav>.toggle-btn {
  display: none;
}

header>nav>.nav-link>ul {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 30px;
}

header>nav>.nav-link>ul>li>a {
  text-decoration: none;
  font-size: 15px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  position: relative;
  color: var(--nav-link-color);
}

header>nav>.nav-link>ul>li>.links::after {
  content: '';
  width: 0%;
  height: 3px;
  background-color: var(--nav-link-color);
  position: absolute;
  bottom: -6px;
  right: 0;
  transition: 300ms ease-in-out;
}

header>nav>.nav-link>ul>li>a:hover:after {
  width: 100%;
  left: 0;
}


.bennar {
  height: 100vh;
  width: 100%;
  margin: 0px auto;
  background-image: url('https://img.freepik.com/free-photo/html-system-website-concept_23-2150376744.jpg?size=626&ext=jpg&uid=P125233532&ga=GA1.1.1326273119.1694753008&semt=ais');
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  position: relative;
  z-index: 1;
}

/* transform-origin: left;
transform: rotate(328deg); */

/* transform-origin: left;
    transform: rotate(38deg); */

.span_ro_fs {
  transform-origin: left;
  transform: rotate(41deg);
}

.span_ro_ls {
  transform-origin: left;
  transform: rotate(319deg);
}

.bennar::before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #0000004d;
  z-index: -1;
}

.bennar_title {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  color: var(--banner_content_color);
}

.bennar_title h1 {
  font-size: 45px;
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.banner_disc {
  width: 50%;
  line-height: 1.6;
  margin-bottom: 10px;
}

.bennar_title strong {
  font-weight: 500;
  border-bottom: 1px solid #ebebeb;
}

.btn {
  text-decoration: none;
  color: #282828;
  display: block;
  background-color: #fff;
  width: fit-content;
  margin-top: 20px;
  padding: 10px 30px;
  border-radius: 30px;
  font-weight: 500;
  font-size: 15px;
  box-shadow: -1px 3px 7px 0px #969696f0;
  transition: 250ms ease-in-out;
  border: 1px solid #fff;
}

.btn:hover {
  background-color: transparent;
  color: #ffff;
  border: 1px solid #fff;
}

.section_title h2 {
  margin: 50px auto 10px;
  font-size: 40px;
  width: fit-content;
  text-transform: capitalize;
  color: var(--section_title_color);
  position: relative;
}

.section_title h2::before {
  content: '';
  width: 45%;
  height: 3px;
  position: absolute;
  bottom: -11px;
  left: 50%;
  transform: translate(-50%);
  background-color: #FF5722;
}

.section_title p {
  width: 50%;
  margin: 0px auto;
  line-height: 1.6;
  text-align: center;
  margin-top: 40px;
  font-weight: 500;
  color: #414141;
  text-transform: capitalize;
}

.aboutRow {
  width: 100%;
  height: auto;
  display: flex;
  display: grid;
  grid-template-columns: 40% 55%;
  align-items: center;
  row-gap: 40px;
  column-gap: 30px;
  margin-top: 45px;
}

.innerRow {
  grid-template-columns: 55% 40%;
}

.aboutRow .aboutCol {
  height: auto;
}

.aboutRow .aboutCol img {
  width: 100%;
}

.aboutRow .aboutCol h3 {
  font-size: 30px;
  margin-bottom: 10px;
  color: var(--section_title_color);
  font-weight: 600;
  border-bottom: 1px solid #c1c1c1;
  padding-bottom: 19px;
}

.aboutRow .aboutCol p {
  line-height: 1.6;
  word-spacing: 3px;
  color: #464646;
}

.main_btn {
  text-decoration: none;
  color: #ffff;
  display: block;
  background-color: var(--inner-color);
  width: fit-content;
  margin-top: 20px;
  padding: 10px 30px;
  border-radius: 30px;
  font-weight: 500;
  font-size: 15px;
  box-shadow: -1px 3px 7px 0px #969696f0;
  transition: 250ms ease-in-out;
  border: 1px solid #fff;
}

.main_btn:hover {
  background-color: transparent;
  color: var(--inner-color);
  border: 1px solid var(--inner-color);
}


/* ================>=================> cards ----------------->> ------------------------>>  */

.cart {
  width: 330px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 0px 0px 8px 8px;
  padding-bottom: 20px;
  transition: 300ms ease-in-out;
  position: relative;
  text-align: center;
}

.cart .card_image {
  overflow: hidden;
  width: 100%;
  position: relative;
}

.cart .card_image img {
  width: 100%;
  transform: scale(1);
  transition: 200ms ease-in-out;
}

.cart h3 {
  padding: 0px 10px;
  font-size: 22px;
  margin: 18px auto 10px;
  color: #3f3f3f;
  text-transform: capitalize;
  font-weight: 500;
}

.cart p {
  padding: 0px 10px;
  line-height: 1.6;
  word-spacing: 3px;
  color: #464646;
  font-size: 15px;
  font-family: 'Poppins', sans-serif;
}

.d-flex {
  display: flex;
  row-gap: 40px;
  column-gap: 30px;
}

.d-none {
  display: none;
}

/* ---------------------------  footer ------------------------ */

footer {
  background-color: #041433e3;
  width: 100%;
  height: auto;
  padding: 30px 0px;
  margin-top: 40px;
}

footer .f-row .f-col {
  width: 25%;
}

footer .f-row .f-col h2 {
  color: #ff5722;
  margin-bottom: 24px;
  font-size: 31px;
}

footer .f-row .f-col h3 {
  margin-bottom: 20px;
  color: white;
  font-size: 21px;
  font-weight: 600;
  font-family: 'Poppins', sans-serif;
}

footer .f-row .f-col svg {
  border: 1px solid #a0a0a0;
  height: 30px;
  width: 30px;
  padding: 5px;
  border-radius: 5px;
  fill: #ff5722;
  transition: 250ms ease-in-out;
}

footer .f-row .f-col .social_link svg:hover {
  /* fill: #fff; */
  border: 1px solid #ff5722;
  background-color: #fff;
}

footer .f-row .f-col .f-link {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

footer .f-row .f-col .f-link li a {
  text-decoration: none;
  color: #fff;
  font-weight: 400;
  font-size: 15px;
}

footer .f-row .f-col .f-link li a:hover {
  color: var(--inner-color);
}

footer .f-row .f-col .f-add li a {
  display: flex;
  align-items: self-start;
  gap: 5px;
  color: #fff;
  text-decoration: none;
  font-size: 15px;
}

footer .f-row .f-col .f-add li a svg {
  border: none;
}


/* ----------------- inner Banner start ==---------------  */

.innerBenar {
  width: 100%;
  height: 70vh;
  background-color: #282828;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.innerBenar h1 {
  color: #ffff;
  font-size: 60px;
  text-transform: capitalize;
  letter-spacing: 3px;
}

.innerBenar p {
  color: #ffff;
  font-family: 'Poppins', sans-serif;
}

/* ------------- Service page start -----------  */
/* ------------- Service page start -----------  */

.serviceCart {
  width: 515px;
  box-shadow: 0px 0px 4px 0px #9f9696;
  border-radius: 0px 0px 10px 10px;
}

.serviceCart:hover {
  box-shadow: 0px 0px 7px 0px #373636;
  transition: 300ms ease-in-out;
}

.cart_image {
  width: 100%;
  height: 240px;
  overflow: hidden;
}

.serviceCart .cart_image img {
  width: 100%;
  transition: 300ms ease-in-out;
}

.serviceCart:hover .cart_image img {
  transform: scale(1.1);
}

.serviceCart .cartDetails {
  position: relative;
  padding: 10px 15px;
  width: 100%;
  margin: 0px auto;
  border-radius: 10px;
}

.serviceCart .cartDetails h3 {
  color: #0c0c0c;
  font-size: 24px;
  margin-bottom: 9px;
  font-weight: 500;
  border-bottom: 1px solid #9e9e9e;
  padding-bottom: 12px;
}

.serviceCart .cartDetails p {
  font-size: 15px;
  word-spacing: 4px;
  line-height: 1.5;
}

/* ---------> ---------> faq -----------> -------->  */
.faq {
  background-color: #202e492b;
  padding: 10px 0px 50px;
}

.faq .faq_qus {
  width: 80%;
  margin: 30px auto;
  background-color: #fff;
  padding: 10px 20px;
}

.faq .faq_qus h3 {
  background-color: #fff;
  padding-bottom: 10px;
  border-bottom: 1px solid #e3e3e3;
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: 600;
  color: #404040;
}

.faq .faq_qus p {
  font-size: 15px;
  font-weight: 500;
  color: #494949;
}


/* --------------- >> --------- Blog page ---------- >> ---------  */

.blogSlide {
  position: relative;
  margin-top: 130px;
}

.slide {
  position: relative;
}

.slide .slede_con {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  padding: 15px;
}

.slide .slede_con h3 {
  color: #ffff;
  font-size: 23px;
  border-bottom: 1px solid #c6c6c6;
  margin-bottom: 4px;
  padding-bottom: 5px;
}

.slide .slede_con p {
  color: #fff;
  font-size: 12px;
  font-weight: 600;
}


.blog .blog_row {
  display: grid;
  grid-template-columns: 57% 40%;
  justify-content: space-between;
  margin-top: 120px;
  margin-bottom: 40px;
  align-items: flex-start;
}

.blog_col {
  box-shadow: 0px 0px 8px 2px #d7d6d6;
  padding: 20px;
}

.blog_view .blog_view_col img {
  width: 100%;
  height: 400px;
  overflow: hidden;
}

.blog_view .blog_view_col h3 {
  font-size: 25px;
  color: var(--section_title_color);
  margin: 10px 0px;
  border-bottom: 1px solid #cdcdcd;
  padding-bottom: 10px;
  font-weight: 500;
}

.blog_view .blog_view_col p {
  margin-top: 10px;
  font-weight: 500;
  font-size: 14px;
  color: #464646;
  text-align: justify;
}


.blog_view .blog_view_col span {
  display: block;
  margin-top: 10px;
  font-weight: 500;
  font-size: 14px;
  color: #909090;
}

.blog_table {
  display: grid;
  grid-template-columns: 30% 66%;
  justify-content: space-between;
  border-bottom: 1px solid gainsboro;
  padding-bottom: 10px;
  margin-bottom: 15px;
}

table tbody tr .table_con {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 10px;
}

.blog_table h4 {
  font-size: 18px;
  font-weight: 600;
  font-family: 'Poppins', sans-serif;
  gap: 10px;
  color: #383838;
}

.blog_table span {
  font-size: 14px;
}

.blog_table button {
  background-color: transparent;
  border: none;
  font-size: 15px;
  color: var(--inner-color);
  font-family: 'Poppins', sans-serif;
  cursor: pointer;
}

/* contact page start ==============  */
form {
  margin: 50px auto;
}

form h3 {
  color: var(--section_title_color);
  margin-top: 126px;
  margin-bottom: 25px;
  font-size: 30px;
  border-bottom: 1px solid #d5d5d5;
  padding-bottom: 18px;
  text-shadow: 0px 2px 0px #ff57229c;
}

.contact_ .con_row {
  margin: 30px auto;
}

.contact_ .con_row .con_col {
  background-color: var(--inner-color);
  padding: 10px 20px;
  border-radius: 30px;
}

.contact_ .con_row .con_col a {
  color: #ffff;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 20px;
}

.form_row .form_row_col {
  width: 50%;
}

input {
  width: 100%;
  height: 40px;
  padding: 0px 10px;
  border-radius: 5px;
  border: 1px solid lightgrey;
  box-shadow: 0px 0px 3px 0px #afafaf;
  margin-bottom: 30px;
}

textarea {
  width: 100%;
  height: 85px;
  padding: 10px 10px;
  border-radius: 5px;
  border: 1px solid lightgrey;
  box-shadow: 0px 0px 3px 0px #afafaf;
  margin-bottom: 30px;
}

form button {
  padding: 8px 20px;
  background-color: var(--inner-color);
  color: #ffff;
  border: none;
  font-size: 15px;
  border-radius: 0px 20px;
  transition: 250ms ease-in-out;
  border: 1px solid var(--inner-color);
}

form button:hover {
  background-color: transparent;
  color: var(--inner-color);
  border: 1px solid var(--inner-color);
}



@media screen and (max-width: 1250px) {
  .container {
    padding: 0px 20px;
  }
}

@media screen and (max-width: 1100px) {
  .serviceCart {
    width: 466px;
  }
}

@media screen and (max-width: 992px) {
  p {
    font-size: 15px;
  }

  .section_title p {
    width: 70%;
  }

  .serviceCart {
    width: 79%;
  }
}

@media screen and (max-width: 900px) {
  .banner_disc {
    width: 70%;
  }

  .service_row {
    flex-wrap: wrap;
  }

  .cart {
    width: 370px;
  }

  .f-row {
    flex-wrap: wrap;
    justify-content: center;
  }

  footer .f-row .f-col {
    width: 44%;
  }

  .contact_ .con_row {
    flex-wrap: wrap;
  }

  .blog .blog_row {
    display: grid;
    grid-template-columns: auto;
    gap: 30px;
  }

  .blog_views {
    /* display: none; */
    position: fixed;
    top: 0;
    left: 0;
    background: #080808a8;
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
  }

  .blog_view {
    width: 95%;
    padding: 20px;
    margin: 0px auto;
    background: #fff;
    box-shadow: 0px 0px 12px 0px #f4f4f4;
  }
}

@media screen and (max-width: 768px) {
  .aboutRow {
    grid-template-columns: auto;
  }

  .aboutRow .aboutCol img {
    width: 55%;
    margin: 0px auto;
    display: block;
  }

  .innerRow {
    display: flex;
    flex-direction: column-reverse;
  }

  .section_title p {
    width: 85%;
  }

  .serviceCart {
    width: 90%;
  }

  .form_row {
    flex-direction: column;
  }

  .form_row .form_row_col {
    width: 100%;
  }

  .nav-link {
    right: -100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 9999;
    height: 100vh;
    background: #fff;
    width: 70%;
    transform: translate(-120%);
    transition: 250ms ease-in-out;
  }

  header>nav>.nav-link>ul {
    flex-direction: column;
    align-items: self-start;
    gap: 30px;
    padding: 64px 27px;
  }

  header>nav>.toggle-btn {
    display: block;
    width: 34px;
    height: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  header>nav>.toggle-btn span {
    display: block;
    width: 100%;
    height: 3px;
    background-color: black;
  }

}

@media screen and (min-width: 768px) {
  .nav-link {
    transform: translate(0%) !important;
  }
}


@media screen and (max-width: 580px) {
  .bennar_title h1 {
    font-size: 47px;
    font-weight: 600;
    text-transform: capitalize;
  }

  .section_title p {
    width: 95%;
  }

  footer .f-row .f-col {
    width: 100%;
  }

  .serviceCart {
    width: 100%;
  }

  .faq .faq_qus {
    width: 100%;
  }

  form {
    width: 100% !important;
  }

  .innerBenar {
    background-position: right;
    width: 100%;
    height: 100vh;
  }

  .innerBenar h1 {
    font-size: 56px;
  }

  .banner_disc {
    width: 90%;
  }
}